// Fuente
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;400;600;700&display=swap');
$font-family-sans-serif: 'Lexend', sans-serif;

// Colores
$primary:       #00695C;
$secondary:     #6C757D;
$dark:          #003D33;
$light:         #F8F9FA;